.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略 deploy.log 文件
deploy.log

deploy.log*
# 忽略 deploy.log 文件
tests/**/coverage/
package-lock.json
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
