@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

html {
  color: #000;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "宋体",
    \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

em {
  font-style: normal;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}

textarea {
  resize: vertical;
}

.left {
  float: left;
}

.right {
  float: right;
}

.overflow {
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.error {
  color: #f00;
  font-size: 12px;
}

label,
button {
  cursor: pointer;
}

.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}

.wordwrap {
  word-break: break-all;
  word-wrap: break-word;
}

pre.wordwrap {
  white-space: pre-wrap;
}

body {
  text-align: center;
}

body,
form {
  position: relative;
}

td {
  text-align: left;
}

img {
  border: 0;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
// main-container global css
.app-container {
  padding: 20px;
}
// 全局样式
.g_poin:hover {
  cursor: pointer;
}
.mr_15 {
  margin-right: 15px;
}
.popperTitle .el-popover__title {
  font-size: 14px;
}
.mainContentSec {
  max-width: 1200px;
}