@import "./variables.scss";
@media only screen and (max-width: 760px) {
  .dialogHeader {
    width: 400px !important;
  }
  ::v-deep .dialogContainer {
    .el-dialog__headerbtn {
      z-index: 100 !important;
    }
  }
  .main-txt {
    overflow-x: hidden !important;
    .paperPdfSlider {
      width: 400px !important;
      margin: 0 !important;
      padding: 0 !important;
      margin-left: -40px !important;
      .s1 {
        display: none;
      }
    }
  }
  // 大纲 附加功能
  .spendingBox .att .borderBox {
    width: 45% !important;
  }
  .spendingBox .borderBox .left svg.icon {
    width: 20px !important;
    height: 20px !important;
  }
  .spendingBox .addService label.el-checkbox {
    width: 45% !important;
  }
  .spendingBox .addService .addName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
  }
  .wxContentMessage {
    width: 100% !important;
  }

  // 大纲结束
  .navDataLine {
    display: none;
  }
  .adBox {
    margin: 0 !important;
    margin-top: 20px !important;
    gap: 0px !important;
    .card {
      width: 49%;
      margin-bottom: 10px;
      .image-container .content {
        top: 30px;
        left: 20px;
        padding-right: 20px;
      }
    }
  }

  .bannerImg {
    width: 200px !important;
    height: 90px !important;
  }
  .navleftData {
    .navWidth {
      width: auto !important;
    }
  }
  .dataStatisticsContent {
    display: none;
  }
  .homeSwiper {
    img {
      display: none;
    }
  }
  // step1 写论文页面
  .outlineListClass {
    width: 100% !important;
  }
  .outlineListClass .left {
    width: 120px !important;
  }
  .rowStart {
    flex-wrap: wrap;
    .left:last-child {
      width: 200px !important;
    }
  }
  .outlineBox {
    .outlineTab {
      padding: 0 20px !important;

      p {
        font-size: 15px !important;
      }
      .outRight {
        width: 103px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
      }
    }
  }
  // 首页 搜索框

  .mainContentSec {
    .tabsList {
      .tabLi {
        height: 80px;
      }
      .tabIntro {
        font-size: 12px;
      }
      .tabsTitle {
        font-size: 15px;
      }
      .tabIcon {
        margin: 0;
        width: 20px;
        height: 20px;
        span {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
  .recommendation-item .itemParen {
    line-height: 16px !important;
  }
  .recommendation-item {
    padding: 10px 0 !important;
  }
  .secondItem {
    margin-top: 0px !important;
  }

  .info-title {
    font-size: 12px !important;
    width: auto !important;
  }
  .firstItem .formItemCon > div {
    flex-wrap: wrap;
  }
  label.el-radio {
    margin-top: 10px !important;
    justify-content: center;
    display: flex;
  }
  .uesrInputBox {
    padding-bottom: 20px !important;
    .formItem {
      margin-top: 20px !important;
      padding-left: 20px !important;
      .userInputCon {
        margin-left: 0px !important;
        margin-top: 40px;
      }
      .title-input-wrapper {
        width: auto;
      }
    }
    .outlineBtn {
      margin: 20px 10px 10px 10px !important;
    }
  }
  //step 2
  .newLi {
    padding: 0 !important;
    width: 48%;
    height: auto;
    img {
      height: 100%;
    }
  }

  // 底部栏
  .main-container {
    .footer {
      padding-left: 0 !important;
    }
    .phoneFlex {
      display: block !important;
    }
  }
  .footer {
    .siteInfo {
      display: flex;
      flex-wrap: wrap;
      .qrBox {
        display: flex;
        flex-direction: column;
        img {
          margin-bottom: 10px;
        }
      }
      // .col_1 {
      //   display: none;
      // }
      .col {
        width: 100%;
      }
      .col_3 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .title_mini {
          display: none;
        }
        p {
          margin-right: 20px;
        }
      }
      .infoBottom {
        display: none;
      }
    }
  }
  .step2Box {
    padding: 20px 10px !important;
    padding-top: 10px !important;
  }
  .oulineTitlePaper {
    margin-top: 10px !important;
  }
  // 大纲
  .iconRight {
  }
  .tipContain {
    display: none;
  }
  .outlineMain {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    .ownInput {
      padding: 0px;
    }
  }
  // three Swiper
  .swiper2 {
    padding: 10px;
    .newSlider {
      height: 380px;
      border-radius: 8px;
      img {
        height: 100%;
      }
    }
  }
  .swiper1 {
    padding: 0 10px;
  }

  // 侧边栏
  .floatMenuWrapper {
    bottom: 70px;
  }

  // shouye
  .swiperBg {
    padding-bottom: 0px !important;
    .swiperListTitle {
      justify-content: flex-start;
      padding-left: 30px;
      font-size: 20px;
    }
    .swiperListTitle {
    }
  }
}

@media only screen and (max-width: 1007px) {
  // 底部栏
  .main-container {
    .footer {
      padding-left: 0 !important;
    }
    .phoneFlex {
      display: block !important;
    }
  }
  // 顶部大纲
  .navMain {
    & > div {
      display: flex;
    }
  }
  .navleftData .navWidth {
    width: auto !important;
  }
}
// 首页媒体查询
@media only screen and (max-width: 768px) {
  .adMain .phoneTop {
    justify-content: space-between !important;
  }
  .adMain .topLiCard {
    margin-top: 70px !important;
  }
  .navMain {
    .carouselBox {
      display: none !important;
    }
  }
  .mainBackground {
    height: 260px;
    padding-top: 30px;
    .leftMainText {
      line-height: 30px;
      font-size: 30px;
    }
    .inputBox {
    }
    .mainInput {
      // margin: 40px;
      height: 60px;
      width: calc(100% - 40px);
      padding: 0 10px;
      .inputName {
        display: none;
      }
      .selectText {
        margin-left: -10px !important;
      }
    }
    .inputDesc {
      padding: 10px;
      height: 35px;
      padding-left: 20px;
      flex-direction: column;
      justify-content: space-between;
      p {
        font-size: 20px;
      }
      div {
        width: 170px;
        height: 30px;
        font-size: 14px;
      }
    }
  }
  .adBox {
    padding: 0 10px;
  }
  .pwrapper .swiperListTitle1 span {
    width: 120px;
    font-size: 12px !important;
    line-height: 30px !important;
    margin-left: 20px;
  }
  .swiperListTitle1 {
    padding-top: 0px;
  }
  .pwrapper {
    margin-top: 0 !important;
  }
}

// step2媒体查询
@media screen and (max-width: 768px) {
  .slotContentBox .ownInput {
    width: 100% !important;
  }
  .showSpan {
    width: calc(100% - 120px) !important;
  }
  .onlyCyc {
    height: auto !important;

    padding-left: 0px !important;
    padding-right: 10px !important;
    width: 150px !important;
    padding: 0 5px !important;
  }
}
// 活动弹窗
@media screen and (max-width: 768px) {
  .popup-container {
    flex-direction: column;
  }
  .popup-left {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .popupHeader {
    margin-bottom: 0px !important;
  }
  .popConTitle {
    margin-bottom: 10px !important;
  }
  .qywxBox {
    // height: 250px !important;
  }
  .test2Box {
    height: 70px !important;
  }
}
// 范文样例
@media screen and (max-width: 768px) {
  .drafr-example-pager__catalogue {
    display: none !important;
  }
  .tipOutline {
    flex-wrap: wrap;
  }
  .detailText {
    margin-top: 5px;
  }
  .outlineRepeat {
    padding-left: 0px !important;
  }
  .btnList {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .btnDefault {
    margin-top: 10px !important;
  }
  .outlineRepeat {
    margin-top: 0px !important;
    margin-bottom: 30px !important;
  }
  .payCard {
    flex-wrap: wrap !important;
  }
  .cardRight {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .newCard {
    padding-left: 0px !important;
  }

  // 我的订单
  .rowBetween .right {
    align-items: flex-end !important;
    width: 100% !important;
  }
  .rowBetween {
    flex-wrap: wrap !important;
  }
  .home .mainContent {
    min-height: auto !important;
  }
  // 支付弹窗
  .payCodeBox {
    flex-wrap: wrap;
    padding-top: 10px !important;
  }

  .reduceCard {
    font-size: 15px !important;
  }

  .payLeftCode {
    margin-top: 15px !important;
    padding: 10px 15px !important;
  }
  .payLeftCode .plTitle {
    font-size: 14px !important;
  }
  .reduceBox {
    flex-wrap: wrap;
  }
  .boxRight .boxRightCon {
    margin-top: 0px !important;
  }
  .boxRight {
    width: 100% !important;
  }
  .reduceRepetiton {
    padding: 0 20px;
  }
  .plaStepCon {
    padding: 10px 10px !important;
  }
  .plaCheckHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reportCon .inputWidth {
    width: 220px !important;
  }
  .outlineIntroNew .introSubtitle {
    padding: 0 10px;
  }
  .plaItem {
    margin-top: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  // nav按钮
  .navOrderBtn {
    width: 55px !important;
    font-size: 10px !important;
    height: 25px !important;
    line-height: 25px !important;
  }
  .shareBtn {
    font-size: 16px !important;
  }
  .navBarRight > div {
    margin: 0 5px !important;
  }
  .cardClidOnly {
    width: 100% !important;
    padding: 10px 20px !important;
  }
  .cardAdditions p {
    margin-bottom: 0px !important;
  }
  .cardAdditions {
    margin-top: 10px !important;
  }
  .cardPress {
    margin-top: 10px !important;
  }
  .cardIntroTitle {
    font-size: 16px !important;
  }
  .cardChildList {
    margin-top: 8px !important;
  }
  .cardPrice {
    font-size: 15px !important;
    margin-top: 8px !important;
  }
  .recomBtn .starSpan {
    display: none !important;
  }
  .recomBtn {
    padding: 0 10px !important;
    width: auto !important;
    font-size: 12px !important;
  }
  .langBox {
    padding-right: 16px !important;
  }
}
