// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 230px;
$navBarHeight: 80px;

$white: #ffffff;
// the :export directive is the magic sauce for webpack

// 公共常用色
$colorWarning: #ea4f3d;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  white: $white;
  navBarHeight: $navBarHeight;
}
@mixin center-content($fontSize) {
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  font-size: $fontSize;
  color: #212121;
  line-height: 28px;
  text-align: left;
  font-style: normal;
  background: linear-gradient(
    45.000000000000014deg,
    #00d5ff 0%,
    #0091ff 29%,
    #6236ff 62%,
    #b620e0 100%
  ) !important;
  color: transparent !important;
  background-clip: text !important;
}
.paperColor {
}

// 3.0版本颜色
$mainBgColor: #e6f5ff;
$textMain: #3b82f6;
$importantColor: #d75300;

//4.0
$textColor4: #d4a11c;

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
}

// 重置popover样式
.el-popover.el-popper {
  min-width: 120px;
}
