body,
html {
  /*height: 100%;*/
}

body {
  background: #343541;
  /*max-width: 900px;*/
  margin: 0 auto;
  padding: 0 0px;
}

table {
}

dl,
dd {
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  background-color: #fff;
  color: #e0e0e0;
  position: relative;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.messageBox {
  position: relative;
  max-width: 1100px;
  padding-left: 40px;
  padding-right: 20px;
}
.message {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.message.user {
  background-color: #d0dfef;
  align-self: flex-start;
  color: #000;
}

.message.assistant {
  background-color: #f6f7fb;
  color: #000;
  align-self: flex-end;
}

.userInfo {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: #d8e3ff;
}
.userInfo img {
  width: 100%;
  height: 100%;
}
.userInfo .logoMax {
  width: 70%;
  height: 70%;
}
.infoList {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 22px;
  color: #606266;
}

.userTitle {
  font-size: 14px;
}

.code-block {
  position: relative;
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #2d2d2d;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 5px 10px;
  color: #ccc;
  font-size: 12px;
}

.language-label {
  font-weight: bold;
  color: #ffcc00;
}

.code-buttons {
  display: flex;
  gap: 5px;
}

.edit-icon {
  display: none; /* Initially hide the button */
  position: absolute;
  right: 5px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #666;
}
.reload-icon {
  cursor: pointer;

  font-size: 24px;

  color: #000;
}

.messageBox.user:hover .edit-icon {
  display: block; /* Show the button on hover */
}
.messageBox.assistant:hover .reload-icon {
  display: block; /* Show the button on hover */
}

::v-deep .code-block {
  margin: 0;
  padding: 0px;
  background-color: #2d2d2d !important;
  color: #cccccc !important;
  border-radius: 5px !important;
  overflow-x: auto !important;
}
::v-deep .code-header {
  padding: 10px;
  background: #585a73;
  display: flex;
  justify-content: space-between;
}
::v-deep .code-block pre {
  padding: 0 10px 10px 10px;
}
::v-deep .code-buttons button {
  border: none;
  background: transparent;
  color: #fff;
  margin: 0 5px;
}
.responseBottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.defaultText {
  position: absolute;
  max-width: 1100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 300px;
  font-size: 30px;
  color: #2d2d2d;
  display: flex;
  padding-top: 300px;
  align-items: flex-start;
  justify-content: center;
  p {
    font-size: 24px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    line-height: 36px;
    align-items: center;
  }
  img {
    width: 46px;
    height: 46px;
    margin-right: 10px;
  }
}
.chatBottom {
  border-top: 1px solid #dcdfe6;
  padding: 5px;
  padding-left: 10px;
  .chatBottomHeader {
    height: 40px;

    display: flex;
    align-items: center;
    color: #57606a;
    .workItem {
      font-size: 22px;
      position: relative;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .tipBottom {
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bottomLeft {
      p {
        margin-top: 5px;
      }
      .icon {
        font-size: 16px;
      }
      .tipText {
        font-size: 12px;
        margin-left: 5px;
      }
    }
    .bottomRight {
      width: 80px;
      height: 40px;
    }
  }
}
::v-deep .chatBoxInput {
  textarea {
    border: none;
    resize: none;
  }
}
.chatMain {
  display: flex;
  .sidebarLeft {
    position: relative;
    width: 260px;
    border-right: 1px solid hsl(var(--border));
    pointer-events: auto;
    background: #fff;
    transition: width 0.3s linear;
    .sliderContent {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 4px;
    }
    border-right: 1px solid #dcdfe6;
  }
  .sidebarLeft0 {
    position: relative;
    width: 0px;
    border-right: none;
    background: #fff;
    transition: width 0.3s linear;
  }
  .arrowControl {
    position: absolute;
    width: 10px;
    height: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    top: 35%;
    right: -5px;
    z-index: 10;
    &:hover {
      cursor: pointer;
      background-color: #ccc;
    }
  }
  .arrowControlRight {
    right: -10px !important;
  }
  .chat-container {
    flex: 1;
  }
}
.sliderBtn {
  width: 40px;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
}
.sliderTitle {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sliderRight {
    display: flex;
  }
}
.sliderItems {
  padding: 0 10px;
  .sliderChat {
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }
  }
  .activeSilder {
    background-color: #f2f2f2;
  }
}
.upload-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.fileBottom {
  display: flex;
  margin-top: 10px;
  align-items: center;
  .fileBox {
    display: flex;
    height: 100px;
    border-radius: 8px;
    align-items: center;
    width: 100px;
    position: relative;
    margin-right: 10px;
    background-color: #f2f2f2;
    transition: all 0.3s linear;
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.1);
      .delImgBtn {
        display: block;
      }
    }
  }
  .fileNameBox {
    height: 100px;
  }
  .delImgBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    top: 0;
    right: 0;
    background-color: #fff;
    display: none;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
  }
}
.imgBox {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  img {
    width: 100%;
    height: 100%;
  }
}
