.mainBackground {
  padding-top: 78px;

  width: 100%;
  .leftMainText {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    font-family: AlimamaShuHeiTi;
    font-size: 40px;
    color: #212121;
    line-height: 50px;
    font-weight: bold;
    font-style: normal;
  }
}
.mainInput {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  border-radius: 12px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  .inputName {
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
    line-height: 28px;
    text-align: left;
    font-style: normal;
    background: linear-gradient(
      45.000000000000014deg,
      #00d5ff 0%,
      #0091ff 29%,
      #6236ff 62%,
      #b620e0 100%
    );
    color: transparent;
    background-clip: text;
  }
  .selectText {
    width: 80px;
    margin: 0 !important;
    :deep(.el-input__inner) {
      background-color: transparent !important;
    }
    .el-select {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
      }
    }
  }

  .inputBox {
    flex: 1;
    font-size: 18px;
    input {
      width: 100%;
      background-color: #fff;
      height: 98%;
      outline: none;
      border: none;
    }
  }
  .searchIconBox {
    width: 32px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    background: #3355ff;
    border-radius: 16px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.inputDesc {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  // height: 48px;
  white-space: nowrap; /* 防止文字换行 */

  & > p {
    height: 25px;
    opacity: 0.5;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
    letter-spacing: 0;
    text-align: center;
  }
}
// 六大优势
.adBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.adMain {
  padding: 30px 0;
}
.swiperListTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    position: relative;
    font-family: PingFangSC-SNaNpxibold;
    font-weight: 600;
    font-size: 32px;
    color: #1b2126;
    letter-spacing: 0;
    text-align: center;
  }
  .rightIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -8px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// .newLi {
//   width: 222px;
//   // padding: 13px;
//   overflow: hidden;
//   img {
//     width: 100%;
//   }
//   background: rgba(51, 85, 255, 0.1);
//   border-radius: 15px;
//   color: #3960b8;
//   margin-top: 30px;
// }
.advanP {
  text-align: left;
  margin-top: 1em;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0px 14px;
  text-decoration: underline;
}

@import "@/styles/mediaMain.scss";
